/* start my framework */

*{margin: 0;padding: 0;outline: 0;}

.fl-left{float: left;}

.fl-right{float: right;}

.clearfix{clear: both;}

.text-center{text-align: center;}

.no-border{border: 0; outline: 0;}

.container{width: 1200px; margin: auto;}

.hide{display: none;}

.block{display: block;}

.inline{display: inline;} 

a{text-decoration: none;}

ul , ol{list-style: none;}

/* end my framework*/

.anything{
	position: absolute;
    float: right;
    top: 586px;
    left: 1273px;
}

.anything i{
	position: fixed;
    font-size: 20px;
    color: red;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
}

/* start header 1 */

.header1{
	overflow: hidden;
	padding: 10px;
	background: #1EB5E8;
	position: fixed;
	width: 100%;
	z-index: 999;
	box-shadow: 2px 2px 2px 2px #1799D1;
	transition: all 1s ease;
}

.header1 .content .logo{

}

.header1 .content .logo h2{

}

.header1 .content .logo h2 a{
	color: black;
}

/* end logo header1 */

.input-search .form-header input{
	margin-left: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    border-radius: 12px;
}

/* end input-search header1 */

.header1 .nav-header ul{
	margin-top: -18px;
}

.header1 .nav-header ul li{
	display: inline;
	padding: 10px;
}

.header1 .nav-header ul li a{
	color: black;
}

/* end header 1 */

/* start home 1 */

.home1{
	overflow: hidden;
	background-image: url("images/about.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 5em 0 5em 0;
	width: 100%;
}

.home1 .content{
	width: 30%;
	margin: auto;
	text-align: center;
}

/* end home 1 */

/* start home 2 */

.home2{
	overflow: hidden;
	background-color: deepskyblue;
	padding: 5em 0 5em 0;
}

.home2 .content .clm{
	float: left;
}

.home2 .content .clm-1 , .clm-2{
	width: 38.6%;
}

.home2 .content .clm i{
	float: left;
}

.home2 .content .clm .content-clm{
	float: left;
	margin-left: 12px;
}

/* end home 2 */

/* start home 3 */

.home3{
	overflow: hidden;
	background-color: #1799D1;
	padding: 5em 0 5em 0;
	width: 100%;
}

.home3 .content img{
	width: 50%;
	float: left;
	margin: 0 15px 0 0;
}

.home3 .content .clm{
	display: inline-block;
	margin-bottom: 15px;
}

/* end content */

.home3 .content .content1{
	width: 49%;
}


/* end content 1 */

.home3 .content .content2{
	width: 49%;	
}

/* end content 2 */

/* end home 3 */

/* start home 4 */

.home4{
	overflow: hidden;
	background-color: rgba(0, 191, 255, 0.65);
	padding: 5em 0 5em 0;
}

.home4 .content .clm img{
	width: 50%;
	float: left;
	margin: 0 15px 0 0;
}

.home4 .content .clm{
	float: left;
	width: 50%;
	margin-bottom: 12px; 
}

/* end home 4 */

/* start home 5 */

.home5{
	overflow: hidden;
	padding: 5em 0 5em 0;
	background-color: #1743d9;
}

.home5 .content .sidebar .sidebar-left{
	width: 26%;
	background-color: #186a9a;
	padding: 15px;
}

.home5 .content .sidebar .sidebar-right{
	width: 68%;
	background-color: #6aa8a9;
	padding: 15px;
}



/* end home 5 */

/* start home 6 */

.home6{
	overflow: hidden;
	padding: 5em 0 5em 0;
	background-color: #a8a6a6;
	text-align: center;
}

.home6 h2{
	padding-bottom: 12px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 3px solid #ddd;
}

.home6 h3{
	margin: 10px 0 10px 0;
    text-align: center;
    border-bottom: 3px solid #ccc;
    display: inline-block;
    padding-bottom: 6px;
}


.home6 .content1{
	width: 31.333333%;
}

.home6 .content1 .pro{
	background: #ccc;
    height: 30px;
    border-radius: 30px;
}

.home6 .content1 .pro span{
	display: block;
    background: #2dcc70;
    height: 30px;
    line-height: 30px;
    text-align: right;
    border-radius: 30px;
    font-weight: bold;
    width: 50%;
}

/* end content 1 */

.home6 .content2{
	width: 31.333333%;
	margin-left: 29px;
}

.home6 .content2 .pro{
	background: #ccc;
    height: 30px;
    border-radius: 30px;
}

.home6 .content2 .pro span{
	display: block;
    background: #2dcc70;
    height: 30px;
    line-height: 30px;
    text-align: right;
    border-radius: 30px;
    font-weight: bold;
    width: 50%;
}

/* end content 2 */

.home6 .content3{
	width: 31.333333%;
	margin-left: 22px;
}

.home6 .content3 .pro{
	background: #ccc;
    height: 30px;
    border-radius: 30px;
}

.home6 .content3 .pro span{
	display: block;
    background: #2dcc70;
    height: 30px;
    line-height: 30px;
    text-align: right;
    border-radius: 30px;
    font-weight: bold;
    width: 50%;
}

/* end home 6 */

/* start home 7 */

.home7{
	overflow: hidden;
	padding: 5em 0 5em 0;
	background-color: #8c9a69;
}

.home7 .content form input{
	display: block;
	border: none;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
}

/* end home 7 */

/* start home 8 */

.home8{
	overflow: hidden;
	padding: 5em 0 5em 0;
	background-color: #9a693a;text-align: center;
}

.home8 .content .video video{
	width: 50%;
	height: 50%;
}

/* end home 8 */

*{margin: 0; padding: 0;}

form{
  text-align: center;
  background: #eee;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}

label{
  color: aaa;
  margin-right: 10px;
}

input{
  margin: 5px;
  background: #ccc;
  border: 2px solid #aaa;
  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 3px;
  border-radius: 8px;
}

input[type="submit"]{
  padding: 7px;
  margin-top: 9px;
}

input[type="checkbox"]{
   box-shadow: 2px 2px #ddd;
}